.first-sec {
    background: url(assests/bg.png);
    background-attachment: fixed;

}
:root{
    --myColor: rgb(233, 164, 68);
    --darkColor:#3A2C2C;
}

.logo {
    width: 60px !important;
}

.circle {
    background-color: white;
    width: 400px;
    height: 400px;
    /* border-radius: 50%; */
    clip-path: circle(50% at 50% 50%);
    align-content: center;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.circle h2 {
    color: rgb(233, 164, 68);
}

.circle p {
    color: grey;
}

.Order {
    padding: 5px;

}

#search {
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.navv {
    backdrop-filter: blur(20px)
}

.navbar-nav a:hover {
    text-decoration: overline;
}
.about{
    font-weight: bold;
    color: var(--myColor);
}
.sec-2{
    background-color: var(--darkColor); 
    background-blend-mode: overlay; /* Blend the fixed background with the brown color */
    opacity: 0.9; 
    backdrop-filter: blur(5px); 

}
.sec-3{
    background-color: rgb(5, 5, 30); 
    background-blend-mode: overlay; /* Blend the fixed background with the brown color */
    opacity: 1; 
    backdrop-filter: blur(5px); 

}

.head,.about{
    font-size: 3em;
    font-weight: bold;
}
.mybtn{
    background-color: var(--myColor) !important;
    color: white !important;
}
.card-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color:  #A05A1C !important;
}
.card{
    position: relative;
}
.card img{
    width: 200px !important;
    position: absolute; /* Position image absolutely */
    top: -100px; /* Move the image above the card */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%);
}
.card{
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 80px !important;
    border-bottom-right-radius: 80px !important;

}
.card:hover{
    background-color: rgb(228, 224, 224) !important;
    cursor: pointer;
}
.card-cont{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.sec-img-1 img{
    border-radius: 80px 0px 80px 0px;
    border: 2px solid var(--myColor);
    padding: 14px;
}
.sec-img-2 img{
    border-radius: 0px 80px 0px 80px;
    border: 2px solid var(--myColor);
    padding: 14px;
}
.f-dish {
    width: 150px;
    height: 150px;

    animation-name: rot;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes rot{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
@media screen and (max-width:426px) {
    .circle {
        width: 70%;
        clip-path: none;
        background: none;
        backdrop-filter: blur(3px);
    }

    .circle h2 {
        color: rgb(251, 211, 154);
    }

    .circle p {
        color: rgb(255, 255, 255);
    }

    .Order {
        margin-bottom: 20px;
    }

}
